/* reset */
* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

/* header */

img {
  padding-left: 15em:
}

body {
  background-color: #2B3031;
}
header {
  background-color: white;
  padding-left: 0;
  padding-top: 0;
}

[class="fa fa-caret-down"] {
  padding-left: .75em;
  padding-top: .8em;
}

.user {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: .75em;
  padding-right: 2em;
  color: grey;
  font-weight: bold;
}

[placeholder="     Search"]{
  font-size: 16px;
  font-weight: bold;
}

.SearchBar {
     top: 30em;
     left: 575px;
     padding-left: 5em;
     padding-top: 1.5em
}

.SearchBar input {
     height: 30px;
     width: 30em;
     border-style: none;
}

.apps {
  padding-top: .75em;
  padding-right: 5em;
}
.upload {
background-color: red;
font-weight: bold;
}

header {
  background: white;
}

header a, header a:visited, header a:active {
  color: grey;
}

header a:hover {
  color: lightgrey;
}

header .my-list {
  display: flex;
  margin: 0;
  padding: 0;
}

header li {
  padding: 0.5em 0 0.5em 1em;
}

.guide {
  background-color: #2B3031;
  padding-top: 5em;
  font-weight: bold;
}

iframe {
  background-color: #2B3031;
  float: right;
  margin-right: 15em;
  margin-top: 5em;

}

.subs {
  background-color: #2B3031;
padding-top: 5em;
}
/* footer */
footer {
  padding-top: 5em;

}

[href="search icon"] {
  padding-left: 2em;
}
